#loading {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
